# SnapTravel Case Study: Data Engineer Intern - Fall 2021 Term

1. FlightCodes column: Some values are null. Flight Codes are supposed to increase by 10 with each row so 1010 and 1030 will have 1020 in the middle. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [ ]:
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'

In [ ]:
import re

dataList = re.split('[;\n]', data)
print(dataList)

['Airline Code', 'DelayTimes', 'FlightCodes', 'To_From', 'Air Canada (!)', '[21, 40]', '20015.0', 'WAterLoo_NEWYork', '<Air France> (12)', '[]', '', 'Montreal_TORONTO', '(Porter Airways. )', '[60, 22, 87]', '20035.0', 'CALgary_Ottawa', '12. Air France', '[78, 66]', '', 'Ottawa_VANcouvER', '""".\\.Lufthansa.\\."""', '[12, 33]', '20055.0', 'london_MONTreal', '']

In [ ]:
from collections import defaultdict

d = defaultdict(list)
for i in range(4, len(dataList)):
    if i % 4 == 0 and dataList[i] != '':
        d['Airline Code'].append(dataList[i])
    elif i % 4 == 1:
        d['DelayTimes'].append(dataList[i])
    elif i % 4 == 2:
        d['FlightCodes'].append(dataList[i])
    elif i % 4 == 3:
        d['To_From'].append(dataList[i])

print(d)

defaultdict(<class 'list'>, {'Airline Code': ['Air Canada (!)', '<Air France> (12)', '(Porter Airways. )', '12. Air France', '""".\\.Lufthansa.\\."""'], 'DelayTimes': ['[21, 40]', '[]', '[60, 22, 87]', '[78, 66]', '[12, 33]'], 'FlightCodes': ['20015.0', '', '20035.0', '', '20055.0'], 'To_From': ['WAterLoo_NEWYork', 'Montreal_TORONTO', 'CALgary_Ottawa', 'Ottawa_VANcouvER', 'london_MONTreal']})

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame.from_dict(d)
print(df.replace(r'^\s*$', np.nan, regex=True))

            Airline Code    DelayTimes FlightCodes           To_From
0         Air Canada (!)      [21, 40]     20015.0  WAterLoo_NEWYork
1      <Air France> (12)            []         NaN  Montreal_TORONTO
2     (Porter Airways. )  [60, 22, 87]     20035.0    CALgary_Ottawa
3         12. Air France      [78, 66]         NaN  Ottawa_VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]     20055.0   london_MONTreal

In [ ]:
df['FlightCodes'] = pd.to_numeric(df['FlightCodes'])
df = df.interpolate()
convert_dict = {'FlightCodes': int}
df = df.astype(convert_dict)
print(df)

            Airline Code    DelayTimes  FlightCodes           To_From
0         Air Canada (!)      [21, 40]        20015  WAterLoo_NEWYork
1      <Air France> (12)            []        20025  Montreal_TORONTO
2     (Porter Airways. )  [60, 22, 87]        20035    CALgary_Ottawa
3         12. Air France      [78, 66]        20045  Ottawa_VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]        20055   london_MONTreal

2. To_From column: Should be split into two separate columns for better analysis! Split on '_' to create two new columns respectively. Also, the case of the column is not very readable, convert the column into capital case.

In [ ]:
df[['To','From']] = pd.DataFrame(df.To_From.str.split('_').to_list(), index= df.index)
df = df[['Airline Code', 'DelayTimes', 'FlightCodes', 'To', 'From']]
print(df)

            Airline Code    DelayTimes  FlightCodes        To       From
0         Air Canada (!)      [21, 40]        20015  WAterLoo    NEWYork
1      <Air France> (12)            []        20025  Montreal    TORONTO
2     (Porter Airways. )  [60, 22, 87]        20035   CALgary     Ottawa
3         12. Air France      [78, 66]        20045    Ottawa  VANcouvER
4  """.\.Lufthansa.\."""      [12, 33]        20055    london   MONTreal

In [ ]:
df = df.convert_dtypes()
df['To'] = df['To'].str.upper()
df['From'] = df['From'].str.upper()
print(df)

            Airline Code    DelayTimes  FlightCodes        To       From
0         Air Canada (!)      [21, 40]        20015  WATERLOO    NEWYORK
1      <Air France> (12)            []        20025  MONTREAL    TORONTO
2     (Porter Airways. )  [60, 22, 87]        20035   CALGARY     OTTAWA
3         12. Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4  """.\.Lufthansa.\."""      [12, 33]        20055    LONDON   MONTREAL

3. Airline Code column: Clean the  Airline Codes to have no punctuation except spaces in the middle. E.g. '(Porter Airways. )' should become 'Porter Airways'.

In [ ]:
p = re.compile(r'[^\w\s]+')
df['Airline Code'] = [p.sub('', x) for x in df['Airline Code'].tolist()]
df = df[['AirlineCode', 'DelayTimes', 'FlightCodes', 'To', 'From']]
print(df)

       AirlineCode    DelayTimes  FlightCodes        To       From
0      Air Canada       [21, 40]        20015  WATERLOO    NEWYORK
1    Air France 12            []        20025  MONTREAL    TORONTO
2  Porter Airways   [60, 22, 87]        20035   CALGARY     OTTAWA
3    12 Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4        Lufthansa      [12, 33]        20055    LONDON   MONTREAL

4. Write a mock SQL query on the above table to find all flights leaving from Waterloo

In [ ]:
#Assuming table name corresponding to the final dataframe df is FlightInformation:

In [ ]:
select AirlineCode from FlightInformation where FlightInformation.From = 'WATERLOO';